body {
    background-color: #c2c0ae;
    color: #434242;
}

p {
    line-height: 1.5;
}

table {
    border: solid;
    border-style: none;
    border-spacing: 0px;
    color: #434242;
    line-height: 2;
}
